/*publish game*/
#upload{
  padding: 0;
}
.uploadSection{
  width: 100%;
  height: 320px;
  padding:75px, auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.buttons{
  padding-top:60px;
}
.uploadButton{
  border: 2px white solid;
  background-color: #00000000;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-family: brandon-grotesque, sans-serif;
  font-size: 1.5em;
  cursor: pointer;
  border-radius:20px;
  display:block;
  width: 35%;
  margin: 20px auto;
}
.uploadButton:hover{
  background-color: #ffffff80;
  
}
/*manage section*/

.user-game{
  display: grid;
  grid-template-columns: 300px 320px auto;
  grid-column-gap: 15px;
  padding: 25px 0;
  margin-right: 50px;
}
.user-game.unpublished{
  background-color: lightyellow;
}
.userGamePic{
  width: 300px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius:20px;
  box-shadow: 2px 2px 5px grey;
}
/*text info for the game*/
.gameIntro{
  padding-left: 5px;
}
.gameIntro h3{
  display: inline-block;
}
.gameIntro span{
  display: inline-block;
  font-size: .8em;
  font-weight:700;
  color: white;
  padding: 5px;
  margin-left: 10px;
}
.gameIntro span.published{
  background-color: green;

}
.gameIntro span.unpublished{
  background-color: orange;
}
.gameIntro span.collab,
.gameIntro span.indiv{
  background-color: gray;
}
em{
  color:#eb652d;
  font-weight: 500;
}
p i{
  text-decoration: underline;
}
/*text info for the game*/

/*buttons*/
#manage .options{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 20px;
}
@media screen and (min-width: 1000px){
  #manage .options{
    grid-template-columns: 280px 280px;
  }
}
.btn{
  background-color: white;
  margin-top: 10px;
  border: 2px black solid;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: brandon-grotesque, sans-serif;
  font-size: 1.2em;
  cursor: pointer;
  border-radius:20px;
}

.btn.active{
  color:white;
  background-color: black;
}

/*filters*/
#manage input{
  margin-left: 50px;
  display: inline-block;
  vertical-align:middle;
}
.filters{
  display:inline-block;
  vertical-align:middle;
}
.filters-search{
  margin:15px 0 5px;
}
.filter {
  float: left;
  display: inline;
  padding: 5px;
  background: #fff;
  border: 1px #ddd solid;
  color: #555;
  box-sizing: border-box;
  cursor: pointer;
  font-family: brandon-grotesque, sans-serif;
  line-height: 1em;
  border-radius: 0;
  margin-left: 0;
}

.filter:not(:last-of-type){
  border-right: none; /* Prevent double borders */
}

.filter:hover {
  border-color: orange;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: orange;
  border-right: 1px orange solid;
  z-index: 5;
}

.filter:active,
.filter.is-checked {
  background-color: orange;
}

.filter.is-checked {
  color: white;
  border: none;
  font-weight: 700;
  text-shadow: 0 -1px #ddd;
}

.filter:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.5);`
}

.filters:after {
  content: '';
  display: block;
  clear: both;
}
